<!DOCTYPE html>
<html><head>
    <title> Home</title>
    HomePage
</head>
      <body>
          <h1> About Us</h1>
          <p> This is my paragraph</p>
          <p> This is my paragraph</p>
          <p> This is my paragraph</p>
          <h2> History</h2>
          <p> This is my paragraph</p>
          <p> This is my paragraph</p>
          <p> This is my paragraph</p>
          <ul> <b> Azmera's 1st website'</b>
              <li>biography </li>
              <li> Family </li>
              <li> Profession </li>

          </ul>

          <ol> Achieviements 
            <li> Best of the year award</li>
           <li> Improved company revenue</li>
          <li> Completed project on time</li>
                   
          </ol>

          <table>
              <tr> 
              <td> FName </td>
                <td>LName</td>
                  <td>Gender   </td>
                                  
                  </tr>
              <tr>
                  <td> Azmera</td>
                  <td> Tikuye  </td>
                  <td> Female</td>
              </tr>
          </table>
      </body>
</html>